body {
  height: 95vh;
  background-color: #3f9ff6;
}

.division {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.score, .timer {
  font-size: 24px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 2px black;
}

.score {
  order: 1; 
}

.timer {
  order: 2; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  margin-top: 50px;

}

#image {
  width: 200px;
  height: 230px;
  border: 2px solid blue;
}

#input-container {
  text-align: center;
  display: flex;
  align-items: center;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


.box div {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8)
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0); opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg); opacity: 1;
  }
}
@keyframes add-time {
  0% {
    color: white;
    transform: scale(1);
  }
  50% {
    color: greenyellow;
    transform: scale(1.2);
  }
  100% {
    color: white;
    transform: scale(1);
  }
}

.add-time-animation {
  animation: add-time 1s ease-in-out;
}



#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none; 
}

#gameOverPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); 
  background-color: white;
  padding: 20px;
  border: 3px solid blue;
  border-radius: 20px;
  text-align: center;
  z-index: 999; 
  display: none;
  width: 200px; 
  height: 200px;
  overflow-y: auto; 
  overflow-x: hidden;
}

#gameOverPopup h2 {
  margin-top: 1px; 
  padding: 10px;
  color: white;
  border-radius: 10px;
  background: blue;
}

#gameOverPopup p {
  font-size: 20px;
  font-family: 'Times New Roman';
  margin-top: 40px;
}

#gameOverPopup button {
  width: 40%; 
  border-radius: 20px;
  margin-top: 20px;
}

.home-button {
  position: fixed;
  top: 5px;
  left: 50%; 
  transform: translateX(-50%);
}


.home-button img {
  width: 50px; 
}


 


